.App {
  text-align: center;
}
.button {
  background-color: rgb(129, 129, 211);
  color: white;
  border: 1px solid rgb(54, 2, 54);
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: 150ms;
  margin: 1em 0;
}
button:hover {
  cursor: pointer;
  background-color: rgb(106, 106, 187);
  transition: 150ms;
}

#header {
  display: flex;
  padding: 2em;
  margin: 2em;
  border: solid black;

  text-align: center;
  background-color: rgb(24, 177, 177);
}
#nav {
  display: flex;
  padding: 1em;
  margin: 0.5em;
  border: solid rgb(3, 58, 58);
  background-color: rgb(81, 133, 133);
  text-align: center;
}
#intro {
  text-align: center;
}
#boardgames {
  display: flex;
  object-fit: fill;
}
/* #reviewsList {
  display: flex;
  padding: 1em;
  margin: 0.5em;
  border: solid black 2px; */
/* } */
.reviewItems {
  display: flex;
  padding: 1em;
  border: solid black 2px;
  padding: 1.5em;
}
.reviewImages {
  align-content: center;
  margin: auto;
}
.categoriesSection {
}

#categoriesList {
}

.categoryItem {
  style: flex;
  text-align: center;
  background-color: rgb(179, 233, 202);
  border: solid black 1px;
}

.reviewtext {
  style: flex;
  padding: 1em;
  margin: 100px 25px 25px 25px;
}
#sortedreviews {
  style: flex;
  border: solid black 2px;
}
#sortedreviewslist {
  style: flex;
  text-align: center;
  background-color: rgb(179, 233, 202);
  border: solid black 1px;
}
